:root {
  --dark-color: #141629;
  --white-color: #f1f1f1;
  --green-color: #1defc7;
}

html {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

body {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1024px;
}

.logo {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.title {
  padding-top: 2rem;
  font-size: 48px;
  letter-spacing: -0.3px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.subtitle {
  padding-top: 0.5rem;
  font-size: 30px;
  letter-spacing: -0.3px;
  padding-left: 1rem;
  padding-right: 1rem;

  a {
    text-decoration: none;
    color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
  }
}

.star {
  width: 1rem;
  height: 1rem;
}

.container-grid {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navigation {
  position: sticky;
  top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;

  li {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: var(--white-color);
  }

  a.active {
    color: var(--green-color);
    font-weight: 700;
  }
}

.chart {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.chart-description {
  font-size: 24px;
  padding-top: 1rem;
}

.footer {
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--white-color);
  color: var(--dark-color);

  .padding {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .made-by {
    padding-bottom: 0.5rem;
  }

  .support {
    padding-top: 0.5rem;

    a {
      color: var(--dark-color);
    }
  }

  .heart {
    width: 1rem;
    height: 1rem;
  }

  .donation {
    text-decoration: none;
    color: var(--dark-color);
    margin-right: 0.8rem;
    &:hover {
      text-decoration: underline;
    }
  }

  .social-icon {
    margin-right: 0.8rem;
    margin-left: 0.8rem;
  }
}

@media (max-width: 768px) {
  .container-grid {
    grid-template-columns: 1fr;
  }

  .navigation {
    position: inherit;
  }

  .footer {
    .padding {
      flex-direction: column;
    }

    .credit {
      padding-bottom: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
