# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQL Server and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
REDIS_URL="redis://:hello@localhost:6379/0"
TWITTER_API_KEY='YOUR_TWITTER_API_KEY'
TWITTER_API_SECRET_KEY='YOUR_TWITTER_API_SECRET_KEY'
TWITTER_ACCESS_TOKEN='YOUR_TWITTER_ACCESS_TOKEN'
TWITTER_ACCESS_TOKEN_SECRET='YOUR_TWITTER_TOKEN_SECRET'
